/* Main CSS Here */

@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
*::-webkit-scrollbar {
    display: none;
}
:root {
--background-color1: white;
--background-color2: white;
--background-color3: white;
--background-color4: white;
--primary-color: #926930c3;
--secondary-color: #926930c3;
--Border-color: #D2B48C;
--one-use-color: #926930c3;
--two-use-color: #926930c3;
}
body {
background-color: var(--background-color4);
max-width: 100%;
overflow-x: hidden;
}

.header1{
height: 70px;
width: 100vw;
padding: 0 30px;
background-color: var(--background-color1);
position: fixed;
z-index: 100;
box-shadow: 1px 1px 15px #ccc;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-size: 27px;
font-weight: 600;
color: black;
}

.icn {
	height: 30px;
}
.menuicn {
cursor: pointer;
}

.searchbar,
.message,
.logosec {
display: flex;
align-items: center;
justify-content: center;
}

.searchbar2 {
display: none;
}




.searchbtn {
width: 50px;
height: 42px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 0px 50px 50px 0px;
background-color: var(--secondary-color);
cursor: pointer;
}

.message {
gap: 40px;
position: relative;
cursor: pointer;
}
.circle {
height: 7px;
width: 7px;
position: absolute;
background-color: #fa7bb4;
border-radius: 50%;
left: 19px;
top: 8px;
}
.dp {
height: 40px;
width: 40px;
background-color: #626262;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}
.main-container {
display: flex;
width: 100vw;
position: relative;
top: 70px;
z-index: 1;
}
.dpicn {
height: 42px;
}

.main {
/* height: calc(100vh - 70px); */
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
padding: 40px 30px 30px 30px;
}

.main::-webkit-scrollbar-thumb {
background-image:
		linear-gradient(to bottom, #D00846, #d67748);
}
.main::-webkit-scrollbar {
width: 5px;
}
.main::-webkit-scrollbar-track {
background-color: #9e9e9eb2;
}

.box-container {
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
gap: 50px;
}
.nav {
min-height: 20vh;
width: 250px;
background-color: var(--background-color2);;
top: 0px;
left: 00;
box-shadow: 1px 1px 10px #ccc;
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
padding: 30px 0 20px 10px;
padding-bottom: 55vh;
}
.navcontainer {
height: calc(100vh - 70px);
width: 250px;
position: relative;
overflow-y: scroll;
overflow-x: hidden;
transition: all 0.5s ease-in-out;
}
.navcontainer::-webkit-scrollbar {
display: none;
}
.navclose {
width: 80px;
}
.nav-option {
width: 250px;
height: 60px;
display: flex;
align-items: center;
padding: 0 30px 0 20px;
gap: 20px;
transition: all 0.1s ease-in-out;
}
.nav-option:hover {
border-left: 5px solid black;
background-color:  #926930c3;
cursor: pointer;
}
.nav-img {
height: 30px;
}

.nav-upper-options {
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}

.option {
background-color: var(--background-color1);
color: black;
cursor: pointer;
}
.option:not(.active):hover {
border-left: 5px solid black;
color: black;
background-color: var(--Border-color);
}
.nav-option.active {
    background-color: #926930c3;
    color: white;
    border-left: 5px solid black;
}
.box {
height: 130px;
width: 230px;
border-radius: 20px;
box-shadow: 3px 3px x  black;
padding: 20px;
display: flex;
align-items: center;
justify-content: space-around;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}
.box:hover {
transform: scale(1.08);
}

.box:nth-child(1) {
background-color: #926930c3;
}
.box:nth-child(2) {
background-color:  #926930c3;
}
.box:nth-child(3) {
background-color: #926930c3;
}


.box img {
height: 50px;
}
.box .text {
color: white;
}
.topic {
font-size: 13px;
font-weight: 400;
letter-spacing: 1px;
}

.topic-heading {
font-size: 30px;
letter-spacing: 3px;
}

.report-container {
min-height: 300px;
max-width: 1200px;
margin: 70px auto 0px auto;
background-color: #ffffff;
border-radius: 30px;
box-shadow: 3px 3px 10px rgb(188, 188, 188);
padding: 0px 20px 20px 20px;
}
.report-header {
height: 80px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 20px 10px 20px;
border-bottom: 2px solid black;
}

.recent-Articles {
font-size: 30px;
font-weight: 600;
color: black;
}

.view {
height: 35px;
width: 90px;
border-radius: 8px;
background-color: #926930c3;
color: white;
font-size: 15px;
border: none;
cursor: pointer;
}

.option2{
	text-decoration: none;
}
.report-body {
max-width: 1160px;
overflow-x: auto;
padding: 20px;
}
.report-topic-heading,
.item1 {
width: 1120px;
display: flex;
justify-content: space-between;
align-items: center;
}
.t-op {
font-size: 18px;
letter-spacing: 0px;
padding:2px 8px;
}

.items {
width: 1120px;
margin-top: 15px;
}

.item1 {
margin-top: 20px;
}
.t-op-nextlvl {
font-size: 14px;
letter-spacing: 0px;
font-weight: 600;
}

.label-tag {
width: 100px;
text-align: center;
background: color  #926930c3 ;
color: white;
border-radius: 4px;
}

.styled-table {
    text-align: center;
    width:100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    text-align: center;
    background-color: #ac8c61;
    color: #ffffff;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ac8c61;
}
.styled-table tbody tr td:last-child{
    padding: 2px;
}
.approve-button {
    background-color: #15b315;
    height: 50px;
    width: 50px;
    border: 2px solid #146814;
    color: #146814;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
  }
  .approve-button:hover{
    background-color: #146814;
    color: #15b315;
    border: 2px solid #15b315;
  }

  .reject-button {
    background-color: #f53737;
    height: 50px;
    width: 50px;
    border: 2px solid #851414;
    color: #851414;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
  }
  .reject-button:hover{
    background-color: #851414;
    color: #f53737;
    border: 2px solid #f53737;
  }